#marquee {
  display: inline-flex;
  width: 100%;
  width: 900px;
  height: 600px;
  margin: auto;
}
#marquee .picture {
  /* width: 33.33% */
  flex: 0 0 33.33%;
  /* margin: 10px; */
}

#marquee .picture img {
  width: 100%;
}

.modal {
  position: fixed;
  width: 400px;
  height: 300px;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  margin: auto;
  display: none;
}

.modal .close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0,0,0,.6);
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.modal .content {
  position: relative;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,.next {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #ccc;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.prev {
  left: 0;
  top: 0;
  bottom: 0;
}

.next {
  right: 0;
  top: 0;
  bottom: 0;
}



#display-img {
  width: 100%;
}