#marquee {
    position: relative;
    margin: 300px auto 0;
	width: 1000px;
}

#marquee img {
	width: 100%;
}

#marquee-wrapper {
    display: flex;
    overflow: hidden;
}

#marquee-wrapper img {
    display: none;
    width: 1000px;
}

#marquee-wrapper img.active{
    display: block;
    transition: all .1s;
}

