html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

#marquee {
    overflow: hidden;
    position: relative;
}



#marquee .indicator {
    position: absolute;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    width: 50px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: none;
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
    user-select: none;
    z-index: 666;
}

#marquee .indicator.arrow-next {
    right: 0;
    left: unset;
}

#marquee:hover .indicator {
    display: block;
}

#marquee ul {
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
}

body .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    text-align: center;
}

body .modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}